<div class="row justify-content-center">
    <p class="text-center h2">
        <strong>File:</strong>
        <%= link_to 'File', common_employee_project.file.url %>
    </p>

    <p class="text-center h4">
        <strong>Upload state:</strong>
        <%= common_employee_project.upload_state %>
    </p>

    <h1>Ugly ass result json:</h1>
    <p class="text-center">
      <%= common_employee_project.projects_info %>
    </p>
    
</div>
