<h1 class="text-center">New common employee project</h1>

<%= render "form", common_employee_project: @common_employee_project %>

<br>

<div>
  <%= link_to "Back to common employee projects", common_employee_projects_path %>
</div>
